/* CountdownTimer.css */
.countdown-timer {
    background-color: #000;
    border: 5px solid #fff;
    border-radius: 10px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    
    padding: 1px;
    text-align: center;
    color: #f0a500;
    max-width: 700px;
}

.countdown-timer span {
    color: #f0a500;
}
