/* Leaderboard.css */
.leaderboard-container {
    margin: 20px auto; /* Center the container horizontally */
    padding: 10px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Reduce the size of the leaderboard */
    text-align: center; /* Center content inside the container */
}

.leaderboard {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard th,
.leaderboard td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    color: #d1e7dd !important; /* Ensure text color is light */
}

.leaderboard th {
    background-color: #b58d2b;
    color: white;
}

.leaderboard tr {
    color: #000 !important; /* Ensure text color is black for all rows */
}

.highlight-current-user {
    font-weight: bold;
    background-color: #d1e7dd;
    color: #000 !important; /* Ensure highlighted text is black */
}

.highlight-reset {
    background-color: red;
    color: white !important; /* Ensure reset text is white */
}

.leaderboard-heading {
    color: #f0a500;
    margin-bottom: 20px; /* Add space below heading */
}

/* New CSS for the red bottom row */
.leaderboard .row-red {
    background-color: #d32f2f;
    color: #fff !important;
}

/* Shared button styles */
.gold-button {
    background-color: #b58d2b;
    border: none;
    border-radius: 25px;
    color: #000;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 40px;
    width: 80%;
    max-width: 600px; /* Ensure both buttons have the same max-width */
    text-align: center;
    display: inline-block; /* Ensure buttons are inline-block */
    box-sizing: border-box; /* Include padding in width calculation */
    margin: 0 auto; /* Center the buttons */
}

.gold-button:hover {
    background-color: #d4af37;
}
