/* Leaderboard.css */
.leaderboard-container {
    margin: 20px auto;
    padding: 10px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
}

.leaderboard {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard th,
.leaderboard td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    color: #d1e7dd !important;
}

.leaderboard th {
    background-color: #b58d2b;
    color: white;
}

.leaderboard tr {
    color: #000 !important;
}

.highlight-current-user {
    font-weight: bold;
    background-color: #d1e7dd;
    color: #000 !important;
}

.highlight-reset {
    background-color: red;
    color: white !important;
}

.leaderboard-heading {
    color: #f0a500;
    margin-bottom: 20px;
}

/* New CSS for the red bottom row */
.leaderboard .row-red {
    background-color: #d32f2f;
    color: #fff !important;
}

/* Ensuring the answer-questions-button class from TaskForm.css applies here */
.gold-button {
    width: 100%;
    max-width: 600px;
    font-weight: bold;
    background-color: #b58d2b;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px; /* Add some padding to avoid content touching the edges */
}
